<!DOCTYPE html>
<html>
<head>
    <title>HASIL ENKRIPSI</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>HASIL ENKRIPSI</h1>

    <table>
        <tr>
            <td><b>Nama Original:</b></td>
            <td>{{ nama }}</td>
        </tr>

        <tr>
            <td><b>Nama Terenkripsi:</b></td>
            <td>{{ nama_encrypt }}</td>
        </tr>
    </table>

    <p class="welcome">
        Halo {{ nama }}. Selamat datang di Pemrograman Python!
    </p>

</div>

</body>
</html>
     
