<!DOCTYPE html>
<html>
<head>
    <title>ENKRIPSI CAESAR CIPHER</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h1>ENKRIPSI CAESAR CIPHER</h1>

    <form method="POST">
        <input type="text"
               name="nama_depan"
               placeholder="Enter first name"
               required>

        <input type="text"
               name="nama_belakang"
               placeholder="Enter last name"
               required>

        <button type="submit">Enkripsi</button>
    </form>
</div>

</body>
</html>
