
<html>
<head>
    <title>Hasil Enkripsi</title>


</head>

<body>

<div class="container">

    <h1>Hasil Enkripsi</h1>

    <div class="hasil">

        <div class="baris">
            <span>Nama Original:</span>
            <span>{{ nama_asli }}</span>
        </div>

        <div class="baris">
            <span>Nama Terenkripsi:</span>
            <span>{{ nama_encrypt }}</span>
        </div>

    </div>

    <p class="pesan">
        Halo, Selamat Datang di Pemrograman Python!
    </p>

</div>

</body>
</html>
